/* https://colorhunt.co/palette/69667 */

* {
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
}

body {
    color: #fafafa;
    font-family: 'Raleway';
}

h1 {
    font-family: 'Permanent Marker', cursive;
    font-size: 15vw;
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    text-align: center;
    cursor:default;
}

h2 {
    margin: 0 0 10px 0;
    text-transform: uppercase;
}

h3 {
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    color: #fafafa;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 101%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
    transition: 1s opacity;
}

nav {
    align-self: end;
    font-size: 1.17em;
    font-weight: bold;
}

nav > ul {
    padding: 0;
}
nav > ul > li {
    margin-top: 10px;
}

a > li {
    margin-top: 10px;
}

dialog {
    min-width: 100vw;
    min-height: 100vh;
    border: none;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: min-content 1fr;
    margin: 0 1vw;
}

.album-container {
    width: 200px;
    text-align: center;
    grid-column: 3 / 4;
    justify-self: flex-end;
}

.album {
    height: 200px;
    width: 200px;
}

.order-btn {
    background-color: #005691;
    padding: 10px;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 8px;
}

.social {
    padding: 0;
    margin-top: 20px;
}

.social > li {
    display: inline-block;
    margin-right: 10px;
}

#btn {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 2vw;
}

@media screen and (min-width: 320px) and (max-width: 668px) {
    .album-container {
        width: 150px;
    }

    .album {
        height: 150px;
        width: 150px;
    }

    #play {
        font-size: 10vw;
    }
}
